# =====================
# Python 기본
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =====================
# 가상환경(venv)
# =====================
venv/
.env
*.env

# =====================
# Django 관련
# =====================

# 로컬 SQLite DB (개발용)
db.sqlite3

# 업로드 파일(이미지 등)
media/

# 로그 파일
*.log

# =====================
# IDE / 편집기
# =====================
.vscode/
.idea/
*.swp
*.swo

# =====================
# 기타
# =====================
# macOS
.DS_Store
